.activities {
    background-color: $secondary-color;
    padding: 4rem 3rem 10rem;

}

.activity {
    display: flex;
    align-items: center;

    &__date {
        background-color: $light-blue;
        padding: 1rem .5rem;
        margin-right: 3rem;
        color: $secondary-color;
        text-align: center;

        span.month,
        span.day {
            font-family: $font-text;
            font-weight: 700;
            display: block;
        }

        span.month {
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-size: .8rem;
        }

        span.day {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }

    &__title {
        color: $accent-color--primary;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    &__meta p {
        color: $light-blue;
        font-size: 1.4rem;
        line-height: 1.6;
    }

    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}