.activities {
    background-color: $secondary-color;
    padding: 2rem 3rem 4rem;
}

.activity {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: .5px solid rgba($light-blue, .5);

    &__date {
        color: $light-green;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }
    &__title {

        span {
            font-size: 1rem;
            font-weight: 700;
            color: $light-blue;
            font-family: $font-headings;
            text-transform: uppercase;
            &.active {
                color: $accent-color--secondary;
            }
        }
        h4{
            color: $accent-color--primary;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-family: $font-text;
            font-weight: 900;
            line-height: 1;
            letter-spacing: -.5px;
        }
    }
    &__meta {
        opacity: 0;
        max-height: 0rem;
        transition: all .3s ease;
        padding: 0rem;
        p {
            max-height: 0rem;
        }
        &.active {
            padding: 2rem 0;
            opacity: 1;
            max-height: 100%;
            p {
                max-height: 100%;
            }
        }
    }
    &__meta p {
        color: $light-blue;
        font-size: 1.4rem;
        line-height: 1.6;
    }
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__period {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;

        span {
            font-style: italic;
            font-size: 1.3rem;
            opacity: .9;
            &:not(:last-child) {
                position: relative;
                &::after {
                    content: '-';
                    margin: 0 1rem;
                }
            }
        }
    }
}