.activities {
    background-color: $secondary-color;
    padding: 4rem 3rem 10rem;

}

.activity {
    display: flex;
    align-items: flex-start;

    &__date {
        background-color: $light-blue;
        padding: 1rem;
        margin-right: 1.5rem;
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 5rem;

        span.month,
        span.day {
            font-family: $font-text;
            font-weight: 700;
            display: block;
        }

        span.month {
            margin-bottom: .5rem;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: -.8px;
        }

        span.day {
            text-transform: uppercase;
            font-size: 1.5rem;

        }
    }

    &__title {
        color: $accent-color--primary;
        font-size: 1.4rem;
        margin-bottom: .6rem;
        text-transform: uppercase;
        // font-family: 'PT Serif', serif;
        font-family: $font-text;
        font-weight: 900;
        line-height: 1;
        letter-spacing: -.5px;
    }

    &__meta p {
        color: $light-blue;
        font-size: 1.4rem;
        line-height: 1.6;
    }

    &:not(:last-child) {
        margin-bottom: 5rem;
    }
}