.core {
    margin-top: 10rem;

    @include respond(small) {
        margin-top: 3rem;
    }

    &__icon {
        display: block;
        width: 8rem;
        margin-bottom: 3.8rem;
    }

    &__title {
        font-size: 2.8rem;
        text-transform: uppercase;
        color: $secondary-color;
        margin-bottom: 1.8rem;
    }
}