.is-padded {
    padding: 3rem 1.5rem;
}

.pd-top--big {
    padding-top: 10rem;


}

.pd-bottom--big {
    padding-bottom: 10rem;
}

.mg-top--big {
    margin-top: 5rem;
}

.mg-top--medium {
    margin-top: 3rem;
}

.mg-bottom--medium {
    margin-bottom: 3rem;
}

.mg-bottom--big {
    margin-bottom: 8rem;
}

.mg-top--small {
    margin-top: 1.5rem;
}

.mg-bottom--small {
    margin-bottom: 1.5rem;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-light-green {
    background-color: $light-green;
}