@mixin font-smoothing($value: antialiased) {
    -webkit-font-smoothing: $value;
}

@mixin location-name-position($topOffset, $leftOffset) {
    .location__name {
        top: $topOffset;
        left: $leftOffset;
    }
}

// media queries manager

@mixin respond($breakpoint) {
    @if $breakpoint==small {
        @media only screen and (max-width: $bp-small) {
            @content;
        }
    }


    @if $breakpoint==medium {
        @media only screen and (max-width: $bp-med) {
            @content;
        }
    }

    @if $breakpoint==big {
        @media only screen and (max-width: $bp-big) {
            @content;
        }
    }

    @if $breakpoint==large {
        @media only screen and (min-width: $bp-big) {
            @content;
        }
    }
}