.mobile-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100%;
    background-color: $light-green;
    visibility: hidden;
    display: nonee;
    transform: translateX(100%);
    transition: all .2s ease-out;
    ul.navigation__list {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        li.navigation__elt {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }

        }
        a {
            font-family: $font-headings;
            text-transform: uppercase;
            font-size: 1.8rem;
        }
    }

    &.mobile-menu-open {
        visibility: visible;
        display: block;
        transform: translate(0);
    }

    .search__form {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

        input[type="search"] {
            width: 60%;
            height: 3.8rem;
        }

        input[type="submit"] {
            font-size: 1.4rem;
        }
    }
}

.mobile-navigation .navigation__sub-menu {
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 0px;
    display: none;
    transition: all .3s ease;
    position: relative;
    z-index: 50;
    &__elt:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    a {
        font-size: 1.1rem !important;
    }

    &.expanded {
        height: 100%;
        display: flex;
    }
}