.navigation {

    @include respond(small) {
        display: none;
    }

    ul.navigation__list {
        list-style: none;
        display: flex;
        justify-content: center;

        li.navigation__elt {
            display: inline-block;
            position: relative;
            padding-bottom: 1rem;
            padding-top: 1rem;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $primary-color;
                transform: scaleX(0);
                transform-origin: 0;
                transition: transform .3s ease;
            }

            &:not(:last-child) {
                margin-right: 3.5rem;

                @include respond(big) {
                    margin-right: 5rem;
                }


            }
            &:hover::after {
                transform: scaleX(1);
            }
            a {
                font-family: $font-headings;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: $primary-color;
                transition: color .2s ease;
                display: inline-block;
                &:hover {
                    color: $secondary-color;
                }
            }
    }
}

ul.navigation__sub-menu {
    position: absolute;
    top: 100%;
    width: 15rem;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 55;
    background-color: #ffffff;
    padding: 2rem 1.5rem;
    li:not(:last-child) {
      margin-bottom: 3rem;
    }
    a {
        font-size: 1.3rem;
        font-weight: 400;
    }
}
}

.navigation li.navigation__elt.has-sub-menu:hover ul.navigation__sub-menu {
    display: flex;

}