.news-card {
    margin-bottom: 5rem;

    &__thumbnail {
        width: 100%;
        object-fit: cover;
        margin-bottom: 1.5rem;
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }

    &__title {
        font-family: $font-headings;
        font-size: 1.5rem;
        font-weight: 700;
        color: $secondary-color;
        margin-bottom: 1.2rem;
        line-height: 1.3;
        text-transform: uppercase;
        letter-spacing: -.5px;
        transition: color .3s ease;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }
    }

    &__date {
        font-family: $font-text;
        font-size: 1.3rem;
        color: $gray-color--dark;
        margin-right: 2rem;
    }

    &__source {
        font-size: 1.1rem;
        color: $gray-color--dark;
        font-family: $font-headings;
    }

    &--press &__title {
        font-family: $font-headings;
    }

    p {
        margin-bottom: 1.5rem;
        line-height: 1.8;
    }




}