.page-header {
    height: 45vh;
    position: relative;

    &--default {
        height: 20vh;
        background-color: $light-blue;
        padding: 5rem 0;
        position: relative;

        &__title {
            font-size: 2rem;
            text-transform: uppercase;
            color: $primary-color;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $primary-color--dark;
        }
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $gray-color--dark;
        opacity: .7;
        z-index: 1;
    }

    &__cover {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        position: absolute;
        top: 10rem;
        left: 13rem;
        z-index: 4;
        color: $accent-color--primary;
        font-size: 1.6rem;
        text-transform: uppercase;


        @include respond(small) {
            top: 2rem;
            left: 3rem;
        }
    }
}