.partners {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include respond(small) {
		margin-top: 5rem;
		justify-content: center;
	}
}

.partner__logo {
	flex-basis: 33.3333333333%;
	margin-bottom: 5rem;

	@include respond(small) {
		margin-bottom: 3rem;
		flex-basis: 33.3333333333%;
		padding: 0 2rem;
	}

	img {
		width: 80%;
		object-fit: contain;
		width: 100px;
		height: 80px;
	}
}
