.social-icons {
    &__icon {
        font-size: 1.8rem;
        opacity: .8;
        transition: all .3s ease;

        i {
            color: #fff;
            transition: all .3s ease;
        }

        &:hover {

            opacity: 1;

            i {
                color: $accent-color--primary;
            }
        }
    }
}

ul.social-icons {
    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}