/* colors */
$primary-color: #007944;
$primary-color--dark: #014527;
$primary-color--light: #5E927B;
$secondary-color: #225A65;
$secondary-color--light: #41B2CA;
$gray-color--light: #979797;
$gray-color: #4A4A4A;
$gray-color--dark:#1F1F1F;
/* accent colors*/
$accent-color: #EBEEF2;
$accent-color--primary: #FFF46B;
$accent-color--secondary: #FCB413;
$light-blue:#EBEEF2;
$light-green: #F4FEF1;
$alternative-green: #7ABE60;
/* fonts */
$font-headings: 'Oswald',
sans-serif;
$font-text: 'Source Sans Pro',
sans-serif;

//breakpoints


$bp-big: 75em;
$bp-med: 65.625em;
$bp-med-2: 61.25em;
$bp-small: 48em;